<div class="row" id="contactFormWrapper">
	<div class="col-md-12">
		<h3>Contact</h3><br>
		<form class="row" role="form">
			<div class="form-group col-md-4">
				<fluidlabel class="fluid-label">
					<input class="form-control" id="name1" type="text" placeholder="Name" required>
				</fluidlabel>
			</div>
			<div class="form-group col-md-4">
				<fluidlabel class="fluid-label">
					<input class="form-control" id="exampleInputEmail1" type="email" placeholder="Email" required>
				</fluidlabel>
			</div>
			<div class="form-group col-md-4">
				<fluidlabel class="fluid-label">
					<input class="form-control" id="subject1" type="text" placeholder="Subject (Optional)">
				</fluidlabel>
			</div>
			<div class="form-group col-md-12">
					<textarea class="form-control" rows="3" placeholder="What can we help you with?" required></textarea>
			</div>
			<div class="form-group col-md-4 col-md-offset-8">
				<div class="pull-left">
					<fluidlabel class="fluid-label">
						<input class="form-control" id="human1" type="text" placeholder="Humans only:  3 + 5 = ?">
					</fluidlabel>
				</div>
				<button type="submit" class="btn btn-primary pull-right">
					Send
				</button>
			</div>
		</form>
	</div>
</div>
